--- 
install: 
- sed -ie "s#travis-4.x.cfg#travis-$PLONE.x.cfg#" travis.cfg
- mkdir -p buildout-cache/downloads
- python bootstrap.py -c travis.cfg
- bin/buildout -c travis.cfg -N -q -t 10
env: 
  global: 
  - secure: |-
      XAWidFmkzzmQJDAKJSk7MDdJBz+E1k1e6vd9cK68HYzTbkrJv+nxHWhikim2
      +2uhN2FEKZtwEYx0ogeTDv8rnEPmDDolw/0a+I8//rcBYVeMTCoFOoaMoJKV
      foUsidbIZE5AWKx3kpN39hOXLdFB3nM43B9QOjaovBMoeB/TXbw=
  - secure: |-
      a6fb4Tqk2Wm1Y4qUdXaYVmvlIBlLgS3J2BrxjiUZjnwrHGT3EI/bxZh3wmDH
      oP20p3hosdn6zSIHjTd49TagLu2n7RpmB+6kVrneJ5Q7d+E/kI5itert5gBu
      pP+5WnNx+1BiNjnnGqq5gQDHRzBJiso++JHf8iDNOTOZv+mHzxQ=
  matrix: 
  - PLONE=4.0
  - PLONE=4.1
  - PLONE=4.2
  - PLONE=4.3
python: 
- 2.6
- 2.7
language: python
before_script:
  - curl https://gist.github.com/santiycr/5139565/raw/sauce_connect_setup.sh | bash
script: bin/test
matrix: 
  exclude: 
  - env: PLONE=4.0
    python: 2.7
  - env: PLONE=4.1
    python: 2.7
  - env: PLONE=4.2
    python: 2.6
  - env: PLONE=4.3
    python: 2.6
notifications:
  irc: "chat.freenode.net#quintagroup"
